/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* .forgot-password-container {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */
  
  /* Forgot Password Container */
  .forgot-password-container {
    width: 500px;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }
  
  /* Forgot Password Form */
  .forgot-password-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .forgot-password-form input,
  .forgot-password-form button {
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
  }
  
  .forgot-password-form input {
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .forgot-password-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .forgot-password-form button:hover {
    background-color: #0056b3;
  }
  
  /* Message */
  .message {
    margin-top: 20px;
    text-align: center;
    color: #007bff;
  }