body, html {
  margin: 0;
  padding: 10;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.user-header {
  width: 100%;
  margin-bottom: 10px;
}

.video-thumbnails-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  width: 100%;
  max-width: 1500px;
  overflow-y: auto; 
}

.video-thumbnail {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  height: auto;
}

.video-thumbnail video {
  width: 100%;
  height: 250px; /* Increased height */
  object-fit: cover;
}

.video-thumbnail .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid white;
  border-bottom: 10px solid transparent;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.video-thumbnail:hover .play-icon {
  opacity: 1;
}

.video-info {
  /* padding: 10px; */
  padding-bottom: 19px;
  /* padding-left: -40px; */
  text-align: start;
  font-family: 'Times New Roman', Times, serif;
}

.video-info h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.video-info p {
  margin: 5px 0 0 0;
  font-size: 14px;
  color: #666;
}

.video-uploader {
  grid-column: 1 / -1;
  justify-self: center;
}

@media (max-width: 767px) {
  .video-thumbnails-container {
    grid-template-columns: repeat(2, 1fr);
  }
}